<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a : ' + a }}</h1>
      <h1>{{ 'Rata - rata : ' + r }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          r: 0,
        },
        methods: {
          openForm: function () {
            var loop = 0;
            var b = 0;
            var c = 0;

            do {
              this.a += parseInt(this.a);
              this.a = prompt("Masukkan nilai a");
              this.a = parseInt(this.a);

              loop++;
              this.r = this.a / loop;
            } while (this.a < 10);
          },
        },
      });
    </script>
  </body>
</html>
