<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" placeholder="masukkan kata kunci" v-model="cari" />
      <ul v-for="bk in filterbuku">
        <li>{{ bk.nama }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          cari: "",
          buku: [
            { nama: "Kalkulus dasar" },
            { nama: "Fisika Dasar" },
            { nama: "Aljabar Linear Elementar" },
            { nama: "Aljabar Abstrak" },
            { nama: "Algoritma Pemrograman" },
          ],
        },
        computed: {
          filterbuku: function () {
            return this.buku.filter((bk) => {
              let a = bk.nama.toLowerCase();
              return a.match(this.cari);
            });
          },
        },
      });
    </script>
  </body>
</html>
