<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      ul li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- <button @click="klikTambah">+</button>
      <h1>Nilai {{ tambah }}</h1> 
      <br>
      <button @click="klikKurang">-</button>
      <h1>Nilai {{ kurang }}</h1> -->
      <ul v-for="komen in komentar">
        <li>
          <button @click="klikTambah">+</button>
          <p>
            {{ komen.komen }} || {{ komen.tanggal }} || Score : {{ komen.skor }}
          </p>
          <button @click="klikKurang">-</button>
          <p></p>
        </li>
      </ul>
      <textarea
        name="comment"
        cols="30"
        rows="10"
        v-model="comment"
        @keyup.enter="tambahData"
      ></textarea>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          komentar: [
            {
              komen: "komentar 1 komentar 1 komentar 1",
              tanggal: "08-05-2021",
              skor: 0,
            },
            {
              komen: "komentar 2 komentar 2 komentar 2",
              tanggal: "08-05-2021",
              skor: 5,
            },
            {
              komen: "komentar 3 komentar 3 komentar 3",
              tanggal: "08-05-2021",
              skor: 5,
            },
          ],
        },
        methods: {
          klikTambah: function (event) {
            this.komentar.skor++;
            if (this.komentar.skor === 1) {
              this.komentar.skor = this.komentar.skor;
            } else {
              this.komentar.skor = 0;
            }
          },
          klikKurang: function (event) {
            this.komentar.skor++;
            if (this.komentar.skor === 1) {
              this.komentar.skor -= 2;
            } else {
              this.komentar.skor = 0;
            }
          },
          tambahData() {
            this.komentar.push({
              komen: comment,
              tanggal: "08-05-2021",
              skor: 0,
            });
          },
        },
      });
    </script>
  </body>
</html>
