<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    form {
      background-color: #f8f6f6;
      width: 300px;
    }
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm()">
    <p v-if="errors.length">
      <b>Please correct the following errors :</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <label>name : </label> <br>
    <input type="text" :disabled="buttonStatus == 'upload'" name="$state.name" ref="name" v-model="name"><br>
    <label>address : </label><br>
    <textarea name="$state.descriptiom" :disabled="buttonStatus == 'upload'" ref="address" v-model="address" cols="30" rows="10"></textarea><br>
    <label>No Hp : </label><br>
    <input type="number" :disabled="buttonStatus == 'upload'" name="$state.no_hp" ref="no_hp" v-model="no_hp"><br>

    <div v-if="buttonStatus == 'submit'">
      <input type="submit" value="SUBMIT">
    </div>
    <div v-else-if="buttonStatus == 'update'">
      <input type="button" @click="updateMember(idEditMember)" value="UPDATE">
      <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
    </div>
    <div v-else-if="buttonStatus == 'upload'">
      <input type="file" name="photo" ref="photo">
      <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin: 0 5px;">
      <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
    </div>
    </form>

    <br><br>
    
    <member-component v-for="member of members" :member="member" @edit="editMember" @remove="removeMember" @upload="uploadPhoto"></member-component>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
  <script>

    const store = new Vuex.Store({
      state: {
        name: '',
        address: '',
        no_hp: '',
        errors: [],
        members: [],
        photoDomain: "http://demo-api-vue.sanbercloud.com",
        buttonStatus : 'submit',
        idEditMember : null,
        idUploadMember : null
      },
      mutations: {
        
        validationForm (state){
          state.errors = []

          if (state.name.length < 5) {
            state.errors.push('name minimal 5 karakter')
            state.$refs.name.focus()
          }
          if (state.address.length > 20) {
            state.errors.push('address tidak boleh lebih dari 20 katakter')
            state.$refs.address.focus()
          }
           if (state.no_hp.length > 12) {
            state.errors.push('Nomor hp tidak boleh lebih dari 12 katakter')
            state.$refs.no_hp.focus()
          }
        },
        clearForm (state){
          state.name = '',
          state.address = '',
          state.no_hp = ''
          state.buttonStatus = 'submit'
          state.idEditMember = null
          state.idUploadMember = null
        },
        submitForm (state) {
          state.validationForm()
          
          if (state.errors.length === 0) {

            let formData = new FormData()
            formData.append('name', state.name)
            formData.append('address', state.address)
            formData.append('no_hp', state.no_hp)

            const config = {
            method : "post",
            url : "http://demo-api-vue.sanbercloud.com/api/member",
            data : formData
          }

          axios(config)
            .then( (response) => {
              state.clearForm()
              state.getMembers()
              alert(response.data.message)

            })
            .catch( (error) => {
              // handle error
              console.log(error);
            })
            
          }
        },
        getMembers (state, member) {
           const config = {
            method : "get",
            url : "http://demo-api-vue.sanbercloud.com/api/member"
          }
          axios(config)
            .then( (response) => {
              // handle success
              state.members = response.data.members
            })
            .catch( (error) => {
              // handle error
              console.log(error);
            })
        }, 
        removeMember (state, id){
          const config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : {_method : "DELETE" }
          }
          axios(config)
            .then( (response) => {
              state.getMembers()
              alert(response.data.message)
            })
            .catch( (error) => {
              // handle error
              console.log(error);
            })
        },
        editMember (state, member) {
          state.name = member.name
          state.address = member.address
          state.no_hp = member.no_hp
          state.buttonStatus = 'update'
          state.idEditMember = member.id
        },
        updateMember (state, id) {
          state.validationForm()

          if (state.errors.length === 0) {
            let formData = new FormData()
            formData.append('name', state.name)
            formData.append('address', state.address)
            formData.append('no_hp', state.no_hp)

            const config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : {_method : 'PUT'},
            data : formData
          }

          axios(config)
            .then( (response) => {
              state.clearForm()
              state.getMembers()
              alert(response.data.message)

            })
            .catch( (error) => {
              // handle error
              console.log(error);
            })
          }
        },
        uploadPhoto (state, member) {
          state.name = member.name
          state.address = member.address
          state.no_hp = member.no_hp
          state.buttonStatus = 'upload'
          state.idUploadMember = member.id
        },
        submitPhoto (state, id) {
          let file = state.$refs.photo.files[0]

          let formData = new FormData()
          formData.append('photo_profile', file)

          const config = {
          method : "post",
          url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
          data : formData
          }

          axios(config)
            .then( (response) => {
              state.clearForm()
              state.getMembers()
              alert(response.data.message)

            })
            .catch( (error) => {
              // handle error
              console.log(error);
            })
        }
      },
      actions: {
        getMembers ({commit}) {
          commit('getMembers')
        }
      }
    })

    var MembersComponent = {
      template : `
      <table border="1">
        <tr>
          <td>
            <img width="100" :src="member.photo_profile ? 'http://demo-api-vue.sanbercloud.com' + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
          </td>
          <td>
            <b>Name : </b> {{ member.name }} <br>
            <b>Address : </b> {{  member.address }} <br>
            <b>No. Hp : </b> {{ member.no_hp }} <br>
          </td>
          <td>
            <button @click="editMember(member)">Edit</button>
            <button @click="removeMember(member.id)">Hapus</button>
            <button @click="uploadPhoto(member)">Upload Foto</button>
          </td>
        </tr>
      </table>
      `,
      props : ['member'],
      methods : {
        editMember(member) {
          this.$emit('edit',member)
        },
        removeMember(id) {
          this.$emit('remove',id)
        },
        uploadPhoto(member) {
          this.$emit('upload',member)
        }
      }
    }


    var vm = new Vue({
      el: '#app',
      components : {
        'member-component' : MembersComponent
      },
      data: {
        name: '',
        address: '',
        no_hp: '',
        errors: [],
        members: [],
        photoDomain: "http://demo-api-vue.sanbercloud.com",
        buttonStatus : 'submit',
        idEditMember : null,
        idUploadMember : null
      },
      methods: {
        validationForm : function(){
          this.$store.commit('validationForm')
        },
        clearForm : function(){
          this.$store.commit('clearForm')
        },
        submitForm : function() {
         this.$store.commit('submitForm')
        },
        getMembers : function() {
          this.$store.dispatch('getMembers')
        }, 
        removeMember : function(id){
          this.$store.commit('removeMember')
        },
        editMember : function(member) {
          this.$store.commit('editMember')
        },
        updateMember : function(id) {
          this.$store.commit('updateMember')
        },
        uploadPhoto : function(member) {
          this.$store.commit('uploadPhoto')
        },
        submitPhoto : function(id) {
          this.$store.commit('submitPhoto')
        },
      created(){
        this.getMembers()
      }
    }
  })
  </script>
</body>
</html>